body {
    padding-top: 5rem;
    font-family: "Oxygen","Droid Sans", "Helvetica Neue", "Helvetica", "Arial";
}    


.border-style, .CenterBox{
    margin: 0 auto;
    padding: 5px;
    width: 45%;
    background-color: white;
    border-radius: 3px;
    border-top: 3px #007bff solid;
    box-shadow:    3px 3px 5px 6px gray;
    margin-bottom: 20px;
}

.person{
   width: 15px;
  height: 15px;
}


button{
    border-radius: 50px;
    display: block;
}

#customer{
    margin: 0 auto;
    background-color: #66ff99;
    
}

.card{
    border-top: 3px #007bff solid;
    margin: 0 auto;
    padding-top: 30px;
    border-radius: 20px;
}

.pro-data{
    width:50px;
    height:100px;
}

.card{
    width: 500px;
    height: 500px;
}

.card-img-top{
  width: 100px;
  height: 100px;
  margin-left: 20px;
}


.btn-container{
    text-align: center;
     padding-top: 15%;
}

.person{
   width: 10%;
  height: 10%;
}

.btn{
    width: 45%;
   
}

.card-title , .card-text{
    margin-left: 30px;
}

.name{
    font-weight: bold;
}