{% extends "base.html" %}


{% block main %}

<h2> 
    Add Employee
</h2>

<form method="POST" action="{{ url_for('addemployee') }}">
    <div>
        {{form.firstname.label}}
        <br>
        {{form.firstname}}
    </div>
    <div>
        {{form.lastname.label}}
        <br>
        {{form.lastname}}
    </div>
    <div class = "registeration">
            {{ form.gender.label }}
            <br>
            {{ form.gender (class='form-control')}}
     </div>
    <div>
        {{form.address.label}}
        <br>
        {{form.address}}
    </div>
    <div>
        {{form.email.label}}
        <br>
        {{form.email}}
    </div>
    <div>
        {{form.username.label}}
        <br>
        {{form.username}}
    </div>
    <div>
        {{form.password.label}}
        <br>
        {{form.password}}
    </div>
    <div>
        {{form.User_type.label}}
        <br>
        {{form.User_type}}
    </div>
    <br>
    <input type="submit"  class="btn btn-primary"/>
</form>


{% endblock %}