{% extends "base.html" %}


{% block main %}

<h2> 
    Add Employee
</h2>
 {% include 'flash_messages.html' %}
<hr>

<form method="POST" action="{{ url_for('addemployee') }}">
    <div class = "border-style">
         {{form.csrf_token }}
        {{form.firstname.label}}
        <br>
        {{form.firstname (class='form-control')}}
        <br>
        {{form.lastname.label}}
        <br>
        {{form.lastname (class='form-control')}}
        <br>
        {{ form.gender.label }}
         <br>
        {{ form.gender (class='form-control') }}
        <br>
        {{form.address.label}}
        <br>
        {{form.address (class='form-control')}}
        <br
        {{form.email.label}}
        <br>
        {{form.email (class='form-control')}}
        <br>
        {{form.username.label}}
        <br>
        {{form.username (class='form-control')}}
        <br>
        {{form.password.label}}
        <br>
        {{form.password (class='form-control')}}
        <br>
        {{form.usertype.label}}
        <br>
        {{form.usertype (class='form-control')}}
    <br>
    <input type="submit"  class="btn btn-primary"/>
    </div>
</form>


{% endblock %}