{% extends 'base.html' %}

{% block main %}
<h1>
   Appointment 
</h1>
 {% include 'flash_messages.html' %}
<hr>

<p> 
    Set appointment here.
</p>


<form action="{{ url_for('Create_appointment') }}" method="post">
     
    <div class = "border-style">
        {{form.csrf_token }}
        
        {{form.appointmentname.label}}
        <br>
        {{form.appointmentname (class='form-control')}}
        <br>
        {{form.appointmentdate.label}}
        <br>
        {{form.appointmentdate (class='form-control')}}
        <br>
        <input type="submit" class="btn btn-primary"/>
    </div>
    
</form>


{% endblock %}