{% extends "base.html" %}

{% block main %}

<img src= "static/img/Home.png"/> <br /><br />
<hr>
{% include 'flash_messages.html' %}
<div class="card">
    <div class="row top-info">
        <div class="col">
          <span class="name">{{user.first_name+" "+user.last_name}}</span>
           <br>
              <span class="blk">{{user.email}}</span>
           <br>
              <span class="blk">{{user.gender}}</span>
           <br>
              <span class="blk">Joined on {{user.created_on}}</span>
        </div>
    </div>
<div class="card-body">
        <div class="btn-container">
            <a href="#" class="center col-md-6 btn btn-success">Appointment</a>
        </div>
    </div>
</div>
{% endblock %}