{% extends "base.html" %}


{% block main %}

<img src= "/static/img/Home.png"/> <br /><br />
 {% include 'flash_messages.html' %}
<hr>


<div class="CenterBox">
 <a href="{{ url_for('addemployee') }}">
     <button id="customer" type="submit">
         Add Employee
    </button>
 </a>
 
 <br>
 <br>

 <a href="{{ url_for('registration') }}">
     <button id="customer" type="submit">
         Add Customer
    </button>
 </a>
 
 <br>
 <br>
 
  <a href = "{{ url_for('customerprofiles') }}"> 
     <button id="customer" type="submit"> 
         Customer Search 
     </button>
 </a>
 <br>
 <br>
 
 <a href="#">
     <button id="customer" type="submit"> 
         Delete Client 
     </button>
 </a>

</div>

{% endblock %}