{% extends "base.html" %}


{% block main %}

<div class="CenterBox">
 <a href="{{ url_for('addemployee') }}">
     <button id="employee" type="submit">
         Add Employee
    </button>
 </a>
 
 <br>
 <br>

 <a href="{{ url_for('registration') }}">
     <button id="customer" type="submit">
         Add Customer
    </button>
 </a>
 
 <br>
 <br>

 <a href = "{{ url_for('Create_appointment') }}"> 
     <button id="customer" type="submit"> 
         Create Appointment 
     </button>
 </a>
 <br>
 <br>
 
 <a href = "{{ url_for('customerprofiles') }}"> 
     <button id="customer" type="submit"> 
         Customer Search 
     </button>
 </a>
 <br>
 <br>
 
 <a href="">
     <button id="delete" type="submit"> 
         Delete Client 
     </button>
 </a>

</div>

{% endblock %}