{% extends "base.html" %}


{% block main %}

<div class="CenterBox">
 <a href="addemployee.html">
     <button id="employee" type="submit">
         Add Employee
    </button>
 </a>

 <a href="registeration.html">
     <button id="customer" type="submit">
         Add Customer
    </button>
 </a>

 <a href = "createappointment.html"> 
     <button> 
         Create Appointment 
     </button>
 </a>
 <a href="">
     <button id="delete" type="submit"> 
         Delete Client 
     </button>
 </a>

</div>

{% endblock %}