{% extends "base.html" %}


{% block main %}

    <h2>Add New Customer</h2>
    <hr>
    {% include 'flash_messages.html' %}
    
    <form action="{{ url_for('registration') }}" method="post">
    <div class = "border-style">
            {{form.csrf_token }}
            
            {{ form.title.label}}
            <br>
            {{ form.title (class='form-control', placeholder="Mr")}}
            <br>
            {{ form.firstname.label }}
            <br>
            {{ form.firstname (class='form-control')}}
            <br>
            {{ form.lastname.label }}
            <br>
            {{ form.lastname (class='form-control')}}
            <br>
            {{ form.gender.label }}
            <br>
            {{ form.gender (class='form-control')}}
            <br>
            {{form.phoneNum.label}}
            <br>
            {{ form.phoneNum (class='form-control', placeholder ="876-294-876")}}
            <br>
            {{ form.address.label }}
            <br>
            {{ form.address (class='form-control')}}
            <br>
            {{ form.email.label }}
            <br>
            {{ form.email (class='form-control', placeholder="example@example.com")}}
            <br>
            {{ form.Company_name.label}}
            <br>
            {{ form.Company_name (class='form-control', placeholder="A corp Or if none N/A")}}
       
        <br>
        <input type="submit" class="btn btn-primary"/>
    </div>
    </form>


{% endblock %}